*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --blue-color:#4A8DA8;
    --dark-gray:#222222;
    --black:#000000;
    --dark-white:#F5F5F5;
    --light-black:#3f4b55;
    --light-gray:#999999;
    --pure-white:#FFFFFF;
    --distract-color:#EFA152;
    --poppins:"Poppins", sans-serif;
    --montserrat:"Montserrat", sans-serif;
    --prosto:"Prosto One", serif;
}

.header{
    height: 50px;
    width: 100vw;
    align-content: center;
    justify-items: center;  
}



.navlist{
    list-style-type: none;
    align-items: center;
}

.navlist .list a {
    font-family: var(--prosto);
    text-decoration: none;
    font-size: 14px;
    color: var(--light-gray);
    margin: 40px;
    
}

.navlist .list a:hover {
    color: var(--black);
    transition: 0.3s ease;
}
.homepanel{
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color:var(--pure-white);
    display: flex;
}
.nameholder{
margin-bottom: 20px;

}
.nameholder h1{   
font-family: var(--prosto);
line-height: 100px;
font-size: 100px;
color: var(--black);
padding: 0;
letter-spacing: 2px;
   

}
.nameholder h2{
    display: flex;
    font-family: var(--montserrat);
    color:var(--dark-gray);
    font-size: 28px;
    margin-left: 5px;
    letter-spacing: 2px;
    font-weight: 700;
    text-shadow: 0px 0px 1px var(--dark-gray);
  
}
.nameholder h3{
    font-family: var(--prosto);
    color: var(--light-gray);
    text-align: right;
    letter-spacing: 2px;
    text-shadow: 0px 0px 4px var(--dark-white);
    font-size: 21px;
    
}
.nameholder .shape{
    
    width: 870px;
    height: 60px;
    background-color: var(--blue-color);
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 0px 0px 28px 28px;
    text-align: center;
    align-content: center;
    box-shadow: 0px 0px 4px var(--light-gray);
}

.shape h4{
    color: var(--pure-white);
    font-family: var(--prosto);
    font-size: 24px;
    letter-spacing: 10px;
    
}

.homepage  {
 background-color:var(--pure-white);
   height: 105vh;
   width: 100vw;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.scrolldown{
    display: flex;
    justify-content: center;
    height: 120px;
}
.arrowholder {
 
    width:150px;
    text-align: center;
    
}
.scrolldown i{
   font-size: 20px;
}

.scrolldown h5{
    font-family: var(--montserrat);
    font-weight: 600;
    font-size: 14px;
    color:var(--blue-color)
}

/*About page*/

.aboutpage{
    height: 200vh;
    width: 100vw;  
 
}
.aboutpanel{
    display: flex;
    justify-content: center;
    height: 55vh;
  
}

.imagepanel{
    display: flex;
    justify-content: center;
    height: 500px;
    width: 70vw;
}

.textpanel{
    width: 40rem;
    padding-top: 5rem;
}

.textpanel h1{
    font-family: var(--prosto) ;
    font-size: 60px;
}

.textpanel h2{
    font-style: 25px;
    font-family: var(--montserrat);
    
}

.textpanel p{
    margin-top: 10px;
    letter-spacing: 0.5px;
    font-size: 18px;
    font-family: var(--poppins);
}
.imgholder{
    flex: 1;
    background-color: var(--pure-white);
    border-radius: 28px;
    padding-left: 5rem;
    justify-content: center;
    padding-right: 30px;
    display: flex;
    box-shadow: 0px 2px 6px  var(--light-gray);
   
    img{
        margin-top: -120px;
    }   

}

.button{
    color: var(--pure-white);
    background-color: var(--black);
    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--montserrat);
    font-weight: 600;
    font-size: 14px;
    border-radius: 30px;
    margin-top: 30px;
    border: 1.5px solid transparent;
    
}

.textpanel h2 span{
    color: var(--blue-color);
}

.button i{
    margin-right: 5px;
}

.button:hover{
    background-color: var(--pure-white);
    color: var(--black);
    border: 1.5px solid var(--black);
   transition: 0.3s ease;

}





/*Personal info and Education panel*/




/*Information panel*/
.infopage{
    height: 40vh;
    width: 100vw;
    display: flex;
    justify-content: center;

}

.infopanel{
   
    height: 34vh; 
    width: 70vw;
    display: flex;
}

.infopanel .personal{
    width: 23vw;
    height: 34vh;
    background-color:var(--pure-white);
    margin-right: 20px;
    box-shadow: 0px 1px 3px var(--light-gray);
    border-radius: 28px;
}

.infopanel .education{
    width: 48vw;
    height: 34vh;
    background-image: linear-gradient(to right,#4A8DA8,var(--pure-white));
    border-radius: 28px;
    box-shadow: 0px 1px 3px var(--light-gray);
}

.personal h1{
    margin-top: 15px;
    font-family: var(--prosto);
    font-size: 20px;
    text-align: center;
    color: var(--blue-color);
}
.personal h2{
   margin-left: 40px;
   margin-top: 20px;
   color:var(--light-gray);
   font-size: 16px;
   
}
.personal h2 span{
    font-family: var(--poppins);
    color: var(--light-black);
    font-size: 15px;
    font-weight: 400;
    margin-left: 15px;
}

.personal .socialicons{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.socialicons ul li{
    margin-top: 70px;
text-align: center;
list-style-type: none;


}

.socialicons ul a i {
    color: var(--blue-color);
margin:20px;
font-size: 28px;

}

.education .title{
 height: 40px;
display: flex;
align-items: center;
margin-left: 5.2rem;
font-family: var(--prosto);
font-size: 20px;
margin-top: 10px;
color: var(--pure-white);


    
}
.education .panel{
    display: flex;
    height: 25vh;
    width: 48vw;
    
}
.education .leftpanel{
 
    height: 25vh;
    width: 200px;
    margin-left: 50px;
    margin-top: 12px;
}

.education .rightpanel{
   
    height:25vh ;
    width: 600px;
    margin-top: 10px;
}

.panel .leftpanel h2 {
    font-family: var(--montserrat);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 40px;
    color: var(--pure-white);
    text-align: center;
   
}

.panel .rightpanel h2{
    color: var(--w);
    font-weight: 300;
    font-size: 16px;
    font-family: var(--prosto);

}
.panel .rightpanel h3{
    color: var(--light-black);
    font-size: 12px;
    margin-bottom: 20px;
    margin-left: 12px;
    font-family: var(--poppins);
    font-weight: 400;

}



